<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lms</title>
    <style>
        body {
            background: #16a085;
        }
    </style>
</head>
<body>
<a href="/book_list">返回</a>
    <h3 align="center">新增书籍</h3>
    <form action="" method="POST">
        <p align="center">书名: <input type="text" name="book_name"></p>
        <p align="center">作者: <input type="text" name="author"></p>
        <p align="center">出版社: <input type="text" name="publisher"></p>
        <h6 align="center">{{error}}</h6>
<!--        <p align="center"><input type="submit" value="提交"></p>-->
        <p align="center"><button>提交</button></p>
    </form>
</body>
</html>