<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lms</title>
    <style>
        body{
            background: #16a085;
        }
    </style>
</head>
<body>
<a href="login">返回</a>
<h3 align="center">新用户注册</h3>
    <form action="" method="post">
        <p align="center">账号：<input type="text" placeholder="请输入5—12位字符" name="user_name"></p>
        <p align="center">密码：<input type="text" placeholder="请输入密码" name="pwd"></p>
        <p align="center">{{error}}</p>
        <p align="center"><input type="submit" value="提交"></p>
    </form>
</body>
</html>